// Font stack
$font-stack: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// Breakpoints
$breakpoint-small: 320px;
$breakpoint-medium: 736px;
$breakpoint-large: 1160px;
$breakpoint-full: 100%;

// Palette
$white: #FFF;
$black: #000;
